<div class="page-container">
  <header>

    <img src="../assets/header.png" height="175">

  </header>
  <div class="board-holder">
    <table>
      <tr>
        <th>
          <strong>RANK</strong>
        </th>
        <th>
          <strong>NAME</strong>
        </th>
        <th>
          <strong>SCORE</strong>
        </th>
      </tr>
      <tr *ngFor="let position of positions; let i = index">
        <td>{{i + 1}}</td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          <strong>RANK</strong>
        </th>
        <th>
          <strong>NAME</strong>
        </th>
        <th>
          <strong>SCORE</strong>
        </th>
      </tr>
      <tr *ngFor="let position of positions; let i = index">
        <td>{{i + 11}}</td>
        <td></td>
        <td></td>
      </tr>

    </table>
  </div>
  <footer>
    <div style="text-align: center;">

      <span class="footerText">Username:</span>
      <input id="teamname" class="footerInput" type="text" name="teamname">
      <span class="footerText">Score:</span>
      <input id="score" class="footerInput" type="text" name="score">
      <button id="submit" (click)="addPlayer()">Submit</button>
    </div>
  </footer>
</div>
