@font-face {
    font-family: antonio;
    src: url('../assets/Antonio-Light.ttf');
}
.page-container {
    font-family: antonio;
    font-size: 1em;
    height: 100vh;
    background: url('../assets/background.png') no-repeat center center fixed;
    background-size: cover;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

#submit {
    margin-left: 25px;
    margin-top: 15px;
    padding: 10px;
    background: none;
    border: solid white 1px;
    border-radius: 8px;
    color: white;
}

#boards {
    margin-left: 60px;
    margin-right: 60px;
}

.footerText {
    font-size: 20px;
    margin-left: 20px;
}

.footerInput {
    background: none;
    font-size: 20px;
    color: white;
    border: solid white 1px;
}

footer {
    opacity: 0;
    color: white;
    background: linear-gradient(to right, #422828 0%, #0f0b0f 100%);
    position: absolute;
    bottom: 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-left: -10px;
    padding-bottom: 20px;
    padding-top: 10px;
    left: 0;
    right: 0;
}

footer:hover{
    opacity: 0.6;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
    color: white;
}

tr.d0 {
    color: white;
}

tr.d1 {
    background-color: rgba(131, 131, 131, 0.1);
    color: white;
}

#leaderboard {
    float: left;
    height: 60vh;
    width: 45%;
    margin-right: 10%;
}

#leaderboard2 {
    height: 60vh;
    width: 45%;
}

.first {
    border: 1px solid #d4cc00;
}

.second {
    border: 1px solid #9f9f9f;
}

.third {
    border: 1px solid #9d4e00;
}

.board-holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}